<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="UnitTest.ruleset" Description="Ignores rules not relevant to unit test projects" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Error" />
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1007" Action="Error" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1010" Action="Error" />
    <Rule Id="CA1011" Action="Info" />
    <Rule Id="CA1012" Action="Error" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="Error" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1023" Action="Error" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1032" Action="Error" />
    <Rule Id="CA1033" Action="Error" />
    <Rule Id="CA1034" Action="Error" />
    <Rule Id="CA1035" Action="Error" />
    <Rule Id="CA1036" Action="Error" />
    <Rule Id="CA1038" Action="Error" />
    <Rule Id="CA1039" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1045" Action="Error" />
    <Rule Id="CA1047" Action="Error" />
    <Rule Id="CA1048" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1052" Action="Error" />
    <Rule Id="CA1053" Action="Error" />
    <Rule Id="CA1058" Action="Error" />
    <Rule Id="CA1060" Action="Error" />
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1500" Action="Error" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1800" Action="Error" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1815" Action="Error" />
    <Rule Id="CA1816" Action="Error" />
    <Rule Id="CA1820" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA2000" Action="Error" />
    <Rule Id="CA2001" Action="Error" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2004" Action="Error" />
    <Rule Id="CA2006" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2121" Action="Error" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2205" Action="Error" />
    <Rule Id="CA2207" Action="Error" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2211" Action="Error" />
    <Rule Id="CA2212" Action="Error" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2215" Action="Error" />
    <Rule Id="CA2216" Action="Error" />
    <Rule Id="CA2218" Action="Error" />
    <Rule Id="CA2219" Action="Error" />
    <Rule Id="CA2220" Action="Error" />
    <Rule Id="CA2221" Action="Error" />
    <Rule Id="CA2222" Action="Error" />
    <Rule Id="CA2224" Action="Error" />
    <Rule Id="CA2225" Action="Error" />
    <Rule Id="CA2226" Action="Error" />
    <Rule Id="CA2230" Action="Error" />
    <Rule Id="CA2231" Action="Error" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2236" Action="Error" />
    <Rule Id="CA2237" Action="Error" />
    <Rule Id="CA2238" Action="Error" />
    <Rule Id="CA2239" Action="Error" />
    <Rule Id="CA2240" Action="Error" />
    <Rule Id="CA2241" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS0109" Action="Error" />
    <Rule Id="CS0114" Action="Error" />
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0251" Action="Error" />
    <Rule Id="CS0252" Action="Error" />
    <Rule Id="CS0253" Action="Error" />
    <Rule Id="CS0278" Action="Error" />
    <Rule Id="CS0279" Action="Error" />
    <Rule Id="CS0280" Action="Error" />
    <Rule Id="CS0282" Action="Error" />
    <Rule Id="CS0419" Action="Info" />
    <Rule Id="CS0440" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0465" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0473" Action="Error" />
    <Rule Id="CS0628" Action="Error" />
    <Rule Id="CS0652" Action="Error" />
    <Rule Id="CS0657" Action="Error" />
    <Rule Id="CS0658" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0660" Action="Error" />
    <Rule Id="CS0661" Action="Error" />
    <Rule Id="CS0665" Action="Error" />
    <Rule Id="CS0693" Action="Error" />
    <Rule Id="CS0728" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1570" Action="Info" />
    <Rule Id="CS1571" Action="Info" />
    <Rule Id="CS1572" Action="Info" />
    <Rule Id="CS1573" Action="Info" />
    <Rule Id="CS1574" Action="Info" />
    <Rule Id="CS1580" Action="Info" />
    <Rule Id="CS1581" Action="Info" />
    <Rule Id="CS1584" Action="Info" />
    <Rule Id="CS1587" Action="Info" />
    <Rule Id="CS1589" Action="Info" />
    <Rule Id="CS1590" Action="Info" />
    <Rule Id="CS1591" Action="Info" />
    <Rule Id="CS1592" Action="Info" />
    <Rule Id="CS1635" Action="Error" />
    <Rule Id="CS1687" Action="Error" />
    <Rule Id="CS1710" Action="Info" />
    <Rule Id="CS1711" Action="Info" />
    <Rule Id="CS1712" Action="Info" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
    <Rule Id="CS1723" Action="Info" />
    <Rule Id="CS1734" Action="Info" />
    <Rule Id="CS1735" Action="Info" />
    <Rule Id="CS1956" Action="Error" />
    <Rule Id="CS1957" Action="Error" />
    <Rule Id="CS1981" Action="Error" />
    <Rule Id="CS1998" Action="Error" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="Error" />
    <Rule Id="CS7095" Action="Error" />
    <Rule Id="CS8018" Action="Info" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8029" Action="Error" />
    <Rule Id="CS8073" Action="Error" />
    <Rule Id="CS8321" Action="Error" />
    <Rule Id="CS8359" Action="Error" />
    <Rule Id="CS8360" Action="Error" />
  </Rules>
</RuleSet>